.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    height: 50px;
    width: 90%;
    padding: 5px 0px;

}
.navbar__linksContainer{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.navbar__linksContainer > li{
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: all 200ms ease;
}
.navbar__linksContainer > li:hover{
    background-color: rgb(245, 245, 245);
}